spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sarafan
    username: root
    password: ${dbPassword}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    generate-ddl: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 449882322828-shjbe5eo9sd9k8fj38c94fqlag0iihqn.apps.googleusercontent.com
            client-secret: ${clientSecret}
  session:
    jdbc:
      initialize-schema: always
      table-name: SPRING_SESSION
      schema: classpath:session_mysql_schema.sql
logging:
  level:
    org.springframework.security: DEBUG